/*---------- Footer ----------*/
footer {
    padding: 3rem 0;
}

.footer-logo img  {
    width: 125px;
}

.footer-menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}

.footer-menu ul li {
    line-height: 1.4;

}
.footer-nav ul {
    margin: 0 0 2rem;
    padding: 0;
}
.footer-nav ul li {
    list-style-type: none;
    margin-bottom: .5rem;
    padding: 0;
}

@media all and (min-width: 768px) {
    .footer-nav {
        display: flex;
        justify-content: space-between;
    }
}